*,
*:after,
*:before {
    box-sizing: border-box;
}


.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    height: 30px;
    margin: 0 auto;
    padding: 0px;
    /* Styles */
    background: white;
    /*    border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.15);
        box-shadow: 0 1px 1px rgba(50,50,50,0.1);*/
    cursor: pointer;
    outline: none;
    text-align: left;
    margin-top: 1px;
    /* Font settings */

    font-size: 16px;
    font-weight: bold;
    color: #2980b9;
}

/*.wrapper-dropdown-3:after { arrow
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}*/

.wrapper-dropdown-3 .dropdown { /*drop down*/
    /* Size & position */
    position: absolute;
    top: 125%;
    left: 0;
    right: 0;
    float: right;
    /* Styles */
    text-align: left;
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown text a {    /*drop down*/
    display: block;
    padding: 0px;
    text-decoration: none;
    color: #2980b9;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown text i {    /*drop down*/
    float: right;
    color: inherit;
    margin-left: 0px;
}

.wrapper-dropdown-3 .dropdown text:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown text:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown text:hover a {  /*drop down color*/
    background: #f3f8f8;
}

.wrapper-dropdown-3 .dropdown:after {   /*arrow space*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {  /*drop down arrow grey part*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown-3.active .dropdown {  /*drop down*/
    opacity: 1;
    pointer-events: auto;
}

